#page-container {
  position: relative;
  min-height: 100vh;

}

#content-wrap {
  padding-bottom: 2.5rem;
  /* Footer height */
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;   /* Height of the footer */
  background: #6cf;
}


h3 {
  color: aquamarine;
}